<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask Heroko App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Data Science Apps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Predicting House Price<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<body>
	<div class="mx-auto" style="height: 20px;">
</div>
<div class="container text-center"><h1>Predicting House Price</h1></div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm border border-secondary bg-light mx-auto" style="height: 250px;">
    	<form>
    	  <div class="form-group">
    	    <label for="house_area">House area (in sqft.)</label>
    	    <input type="email" class="form-control" id="house_area" placeholder="1400">
    	  </div>
    	  <div class="form-group">
    	    <label for="bed_rooms">Number Of Bed Rooms</label>
    	    <select class="form-control" id="bed_rooms">
    	      <option>1</option>
    	      <option>2</option>
    	      <option>3</option>
    	      <option>4</option>
    	      <option>5</option>
    	      <option>6</option>
    	      <option>7</option>
    	      <option>8</option>
    	      <option>9</option>
    	    </select>
    	  </div>
    	<hr>
    	<button type="button" class="btn btn-success btn-lg btn-block">Predict House Price</button>
    	</form>
      








    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
	
</body>
<div class="mx-auto" style="height: 195px;">
</div>
<footer class="footer mt-auto py-3 bg-secondary">
<div class="text-center">I'm Sanjit Kumar</div>
</footer>
</html>